AddressBook/AdresBook.UI/Service References/ServiceReference1/AddBookService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AddBookService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AddressBook.Entites" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAddressBookService_GetContact_InputMessage">
    <wsdl:part name="parameters" element="tns:GetContact" />
  </wsdl:message>
  <wsdl:message name="IAddressBookService_GetContact_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetContactResponse" />
  </wsdl:message>
  <wsdl:message name="IAddressBookService_FindContactbyPhone_InputMessage">
    <wsdl:part name="parameters" element="tns:FindContactbyPhone" />
  </wsdl:message>
  <wsdl:message name="IAddressBookService_FindContactbyPhone_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindContactbyPhoneResponse" />
  </wsdl:message>
  <wsdl:message name="IAddressBookService_FindContactbyName_InputMessage">
    <wsdl:part name="parameters" element="tns:FindContactbyName" />
  </wsdl:message>
  <wsdl:message name="IAddressBookService_FindContactbyName_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindContactbyNameResponse" />
  </wsdl:message>
  <wsdl:message name="IAddressBookService_AddContact_InputMessage">
    <wsdl:part name="parameters" element="tns:AddContact" />
  </wsdl:message>
  <wsdl:message name="IAddressBookService_AddContact_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddContactResponse" />
  </wsdl:message>
  <wsdl:message name="IAddressBookService_ChangePhoneNumber_InputMessage">
    <wsdl:part name="parameters" element="tns:ChangePhoneNumber" />
  </wsdl:message>
  <wsdl:message name="IAddressBookService_ChangePhoneNumber_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChangePhoneNumberResponse" />
  </wsdl:message>
  <wsdl:message name="IAddressBookService_DeleteContact_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteContact" />
  </wsdl:message>
  <wsdl:message name="IAddressBookService_DeleteContact_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteContactResponse" />
  </wsdl:message>
  <wsdl:portType name="IAddressBookService">
    <wsdl:operation name="GetContact">
      <wsdl:input wsaw:Action="http://tempuri.org/IAddressBookService/GetContact" message="tns:IAddressBookService_GetContact_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAddressBookService/GetContactResponse" message="tns:IAddressBookService_GetContact_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindContactbyPhone">
      <wsdl:input wsaw:Action="http://tempuri.org/IAddressBookService/FindContactbyPhone" message="tns:IAddressBookService_FindContactbyPhone_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAddressBookService/FindContactbyPhoneResponse" message="tns:IAddressBookService_FindContactbyPhone_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindContactbyName">
      <wsdl:input wsaw:Action="http://tempuri.org/IAddressBookService/FindContactbyName" message="tns:IAddressBookService_FindContactbyName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAddressBookService/FindContactbyNameResponse" message="tns:IAddressBookService_FindContactbyName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddContact">
      <wsdl:input wsaw:Action="http://tempuri.org/IAddressBookService/AddContact" message="tns:IAddressBookService_AddContact_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAddressBookService/AddContactResponse" message="tns:IAddressBookService_AddContact_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChangePhoneNumber">
      <wsdl:input wsaw:Action="http://tempuri.org/IAddressBookService/ChangePhoneNumber" message="tns:IAddressBookService_ChangePhoneNumber_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAddressBookService/ChangePhoneNumberResponse" message="tns:IAddressBookService_ChangePhoneNumber_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteContact">
      <wsdl:input wsaw:Action="http://tempuri.org/IAddressBookService/DeleteContact" message="tns:IAddressBookService_DeleteContact_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAddressBookService/DeleteContactResponse" message="tns:IAddressBookService_DeleteContact_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAddressBookService" type="tns:IAddressBookService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetContact">
      <soap:operation soapAction="http://tempuri.org/IAddressBookService/GetContact" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindContactbyPhone">
      <soap:operation soapAction="http://tempuri.org/IAddressBookService/FindContactbyPhone" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindContactbyName">
      <soap:operation soapAction="http://tempuri.org/IAddressBookService/FindContactbyName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddContact">
      <soap:operation soapAction="http://tempuri.org/IAddressBookService/AddContact" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangePhoneNumber">
      <soap:operation soapAction="http://tempuri.org/IAddressBookService/ChangePhoneNumber" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteContact">
      <soap:operation soapAction="http://tempuri.org/IAddressBookService/DeleteContact" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AddBookService">
    <wsdl:port name="BasicHttpBinding_IAddressBookService" binding="tns:BasicHttpBinding_IAddressBookService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/Address.Service/AddBookService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>